.vs

VotingSystem.Blazor.WebAssembly/bin
VotingSystem.Blazor.WebAssembly/obj

VotingSystem.DataAccess/bin
VotingSystem.DataAccess/obj

VotingSystem.Shared/bin
VotingSystem.Shared/obj

VotingSystem.SignalR/bin
VotingSystem.SignalR/obj

VotingSystem.Testing/bin
VotingSystem.Testing/obj

VotingSystem.WebAPI/bin
VotingSystem.WebAPI/obj
VotingSystem.WebAPI/appsettings.json

VotingSystem.WPF/bin
VotingSystem.WPF/obj